body {
  padding: 50px;
  font: 16px "Palatino";
}

a {
  color: #00B7FF;
}

.button {
  font: bold 16px Palatino;
  text-decoration: none;
  background-color: forestgreen;
  color: white;
  padding: 12px;
  border-radius: 3px;
}

th {
  text-align: left;
  padding-top: 5px;
  border-bottom: solid 0.15em goldenrod; 
}

tbody tr:nth-child(even){
  background-color: lightgray;
}

tbody a {
  color: forestgreen;
}

tbody td {
  padding: 5px 7px 5px 7px;
}

form {
  margin: 0 auto;
}

label + input {
  /* In order to define widths */
  display: inline-block;
  width: 35%
}

label {
  /* Positions the label text beside the input */
  display: inline-block;
  width: 15%;
  text-align: left;
}

form .button {
  margin: 5px 0 5px 15%;
}

.errors {
  color: red;
}

p.errors {
  font-size: 14px;
  margin: 0;
  padding-top: 5px;
}
